@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

.orange_gradient {
  position: relative;
  background: linear-gradient(90deg, #ffa500,  #0300b8, #ffa500); /* Repeat the gradient at the end */
  -webkit-background-clip: text; /* For Safari  3300ff*/
  -webkit-text-fill-color: transparent; /* For Safari */
  background-clip: text; /* For other browsers */
  color: #F57C00; /* Fallback for browsers that do not support background-clip */
  
  /* Animate the gradient */
  background-size: 300% 100%; /* Make the background larger to allow continuous movement */
  animation: gradientAnimation 20s linear infinite; /* Infinite, smooth linear animation */
}

.black_gradient {
  position: relative;
  background: linear-gradient(90deg, #747474,  #000000, #747474); /* Repeat the gradient at the end */
  -webkit-background-clip: text; /* For Safari  3300ff*/
  -webkit-text-fill-color: transparent; /* For Safari */
  background-clip: text; /* For other browsers */
  color: #000000; /* Fallback for browsers that do not support background-clip */
  
  /* Animate the gradient */
  background-size: 300% 100%; /* Make the background larger to allow continuous movement */
  animation: gradientAnimation 10s linear infinite; /* Infinite, smooth linear animation */
}

@keyframes gradientAnimation {
  0% {
    background-position: 300% 50%; /* Start at the left */
  }
  100% {
    background-position: 0% 50%; /* Continuously move to the right */
  }
}


/* hamburger menu */

/* From Uiverse.io by JulanDeAlb */ 
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #1E3A5F;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}


/* dropwdown effect */

.dropdown-enter {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.dropdown-enter-active {
  height: 20rem; /* Full height of the dropdown */
  opacity: 1;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.dropdown-exit {
  height: 20rem;
  opacity: 1;
}

.dropdown-exit-active {
  height: 0;
  opacity: 0;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


/* Underline animation */
.underline-animation {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.underline-animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Adjust the thickness of the underline */
  background-color: #F57C00; /* Uses the text color */
  transition: width 0.5s ease;
}

.underline-animation:hover::after {
  width: 100%;
}

/* arrow style */

.arrow{
  position: relative;
  top: 0.20rem;
  right: 0px;
  border: solid #1E3A5F;
  border-width: 0 4px 4px 0;
  display: inline-block;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 15px;
  height: 15px;
  transform: rotate(-135deg);
}

/* iCon Styles */

.icons svg path {
  fill: #94A3B8;
  transition: fill 0.5s ease;
}

.icons:hover svg path {
  fill: #FFF; /* Twitter blue color */
}



/* Login / Sign-Up Styles */

.loginSection{
	display: flex;
	justify-content: center;
	align-items: center;
}
.loginMain{
  background: white;
	width: 21rem;
	height: 36rem;
	overflow: hidden;
	border-radius: 10px;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.loginLabel{
	color: #1E3A5F;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin-top: 3rem;
  margin-bottom: 1.5rem;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.loginInput{
	width: 15rem;
	height: 2.5rem;
	background: #FFF;
  border: 1px solid #ffcb87;
	justify-content: center;
	display: flex;
	margin: 0.5rem auto;
	padding: 0.75rem;
	outline: none;
	border-radius: 5px;
  transition-duration: 0.5s;
}
.loginInput:focus{
  border: 1px solid orange;
}

/* Base styling for the checkbox input */
input[type="radio"].checkbox {
  appearance: none; /* Remove default checkbox styling */
  width: 1.5rem; /* Set the width */
  height: 1.5rem; /* Set the height */
  border: 2px solid #ffcb87; /* Border color and size */
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Remove outline */
  cursor: pointer; /* Pointer cursor on hover */
  transition-duration: 0.5s; /* Smooth transition */
}

/* Checked state styling */
input[type="radio"].checkbox:checked {
  background-color: #F57C00; /* Background color when checked */
  border-color: #F57C00; /* Border color when checked */
}

/* Add a custom checkmark using a pseudo-element */
input[type="radio"].checkbox:checked::after {
  content: "✓"; /* Checkmark symbol */
  color: white; /* Checkmark color */
  font-size: 16px; /* Adjust checkmark size */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loginButton{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #1E3A5F;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}


.login{
	height: 560px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-150px);
	transition: .8s ease-in-out;
}
.login label{
	color: #F57C00;
  padding-top: 0.5rem;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-560px);
}
#chk:checked ~ .login label{
  padding-top: 2rem;
	transform: scale(1);	
}
#chk:checked ~ .signup .signupLabel{
	transform: scale(.6);
}


/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.flex-center {
    @apply flex justify-center items-center;
  }
  
  .flex-start {
    @apply flex justify-start items-start;
  }
  
  .flex-end {
    @apply flex justify-end items-center;
  }
  
  .flex-between {
    @apply flex justify-between items-center;
  }

  .td{
    transition: 0.5s ease;
  }